<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form id="registrationform" action="/registerdemo" method="post">
    
    <label>fullname</label>
    <input id="fullname" name="fullname" type="text"><br>
    <label>username</label>
    <input id="username" name="username" type="text"><br>
    <label>password</label>
    <input id="password" name="password" type="password"><br>
    <button type="submit" value="register">Register</button>
    <button type="reset" value="reset">reset</button>
    </form>
</body>
</html>